body{
    background-color: rgba(0, 0, 0, 0.98);
    font-family: Geist-Regular;
    color: white;
    padding: 0%;
    margin: 0%; 

}


@font-face {
    font-family: Geist-Regular;
    src: url(Geist-v1.4.01/otf/Geist-Regular.otf);
}

@font-face {
    font-family: Geist-Thin;
    src: url(Geist-v1.4.01/otf/Geist-Thin.otf);
}

@font-face{
    font-family: Geist-Bold;
    src: url(Geist-v1.4.01/otf/Geist-Bold.otf);
}

.logo{
    font-family: Geist-Thin;
    color: white;
    cursor: pointer;
}

li {
    list-style: none;
    text-decoration: none;
}

li a{
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    font-family: Geist-Thin;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.teambut{
    height: 45px;    
    width: 125px;
    border-radius: 23px;
    font-family: Geist-Regular;
    font-size: 14px;
    transition: all 0.3s;
    border: none;
}

.teambut:hover{
    background-color: #01eab2;
    color: rgb(0, 0, 0);
    border: 1pz solid black;
    box-shadow: rgba(1, 234, 178, 0.4) 0px 0px 30px;
}

/* Nav Section  - -- - - -  -- - - - -*/

.herotext01{
    font-family: Geist-Thin;
    font-size: 18px;  
    padding: 0%;
    margin: 0%;
    margin-bottom: 15px; 
}

.herotext02{
    font-family: Geist-Regular;
    font-size: 60px;
    letter-spacing: 2px;
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
}

.herotext03{
    font-family: Geist-thin;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}

.FlexHero{
    display: flex;
    justify-content: start;
    align-items: center;
}

.herodiv{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 15%;
}

.aboutsec{
    background-image: linear-gradient(to bottom, black, rgba(19, 19, 19, 0.842));
    height: 1000px;
}

.imgdiv{
    border: 1px solid rgb(109, 218, 95);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10%;
}

#img01{
    width: 100px;
    height: 100px;
}

.aboutsec1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    justify-content: center;
}

.name{
    font-family: Geist-thin;
}

.abouttext{
    font-size: 40px;
    word-wrap: break-word;
    width: 60%;
}
